.appcard {
  position: relative;
  height: 100%;
  border-radius: 0.75rem;
  padding: 1rem;
  background-color: var(--a-surface-alt-2-subtle);
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.appcard:not(.disabled) {
  background-color: #99dead;
}

.appcard.disabled {
  background-color: #e1e3e6;
  opacity: 1;
  cursor: not-allowed;
}

.appcard-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.appcard-arrow {
  display: flex;
  align-items: center;
}

.appcard-description {
  font-size: 0.95rem;
  color: black;
}

.appcard:not(.disabled):hover {
  background-color: #88c299;
  text-decoration: none;
}
