.content-wrapper {
	max-width: 750px;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.filter-no-highlight :global(mark) {
	background: transparent;
	color: inherit;
	font-weight: inherit;
	padding: 0;
}
