.search-bar-group {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  width: 100%;
}

.search-container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0;
}