.container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
}

.content-wrapper {
  max-width: 1024px;
  width: 100%;
}

.ventekriterier-heading {
  text-align: center;
  padding-top: 2rem;
}

.ventekriterier-table {
  margin: 0 auto;
  max-width: 1200px;
  background-color: white;
  border-collapse: collapse;
}
