.appcard {
	position: relative;
	height: 100%;
	border-radius: 0.75rem;
	padding: 1rem;
	background-color: #99dead;
	color: black;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: background-color 0.2s ease;
}

.appcard-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	margin-bottom: 0.25rem;
	position: relative;
}

.appcard-description {
	font-size: 0.95rem;
}

.appcardarrow {
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
	transition: transform 0.3s ease;
	display: flex;
}

.appcard:hover {
	background-color: #88c299;
}

.appcard:hover .appcard-title,
.appcard:hover .appcard-description {
	text-decoration: underline;
}

.appcard:hover .appcardarrow {
	transform: translateY(-50%) translateX(5px);
}
