.content-wrapper {
	max-width: 768px;
	width: 100%;
}

.section {
	margin-bottom: 2rem;
}

.card-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1rem;
}

.compact-card-grid {
	grid-template-columns: repeat(auto-fit, minmax(300px, 348px));
	justify-content: start;
}
